<head>
    <img src="/images/topic.png" width="1000px"
        height="400px">
    <h1 s>人格测试结果---树雕型</h1>
    <p style="font-size:18px">树雕型的人像那些路边被完美“修剪”和装饰的造型树。他们勤勉、细致、整洁，略有洁癖。完美主义，在意别人的肯定，可以被塑造。注重事实与目标，善于制作清单及计划表。面对压力容易紧张、抱怨。是非常好的执行者 </p>
    <P style="font-size:20px">如想了解更详细的人格特质，知道你爱的语言是什么？你的恩赐在哪里？欢迎参加我们的常青家庭教育工作坊。您将明白：</P>
    <P style="font-size:20px">如何找到自己人生的指南针</P>
    <P style="font-size:20px">如何选择最优的职业方向</P>
    <P style="font-size:20px">如何了解自己和孩子的性情</P>
    <P style="font-size:20px">如何按着性情养育孩子</P>
    <P style="font-size:20px">如何设立健全的父母权柄</P>
    <P style="font-size:20px">如何保持爱与管教的平衡</P>
    <img src="/images/family.png" width="600px"
    height="400px">
    <P style="font-size:20px">请扫描下方二维码关注我们的公众号</P>

    <img src="/images/wechat.jpg" width="400px"
        height="400px">
</head>
<style>
</style>
<boby>
 
</boby>

<script>


</script>