<head>
    <img src="/images/topic.png" width="1000px"
        height="400px">
    <h1 s>人格测试结果---玫瑰树雕型</h1>
    <p style="font-size:18px">玫瑰树雕型的人具有非凡的任务导向性，对自我和别人的要求很高，既有大局观又在意细节，很容易取得成功。注重事实和目标，讲求公正、规则、结果而忽略人情。当事情不顺利时，会变得非常消极和好斗。 </p>
    <P style="font-size:20px">如想了解更详细的人格特质，知道你爱的语言是什么？你的恩赐在哪里？欢迎参加我们的常青家庭教育工作坊。您将明白：</P>
    <P style="font-size:20px">如何找到自己人生的指南针</P>
    <P style="font-size:20px">如何选择最优的职业方向</P>
    <P style="font-size:20px">如何了解自己和孩子的性情</P>
    <P style="font-size:20px">如何按着性情养育孩子</P>
    <P style="font-size:20px">如何设立健全的父母权柄</P>
    <P style="font-size:20px">如何保持爱与管教的平衡</P>
    <img src="/images/family.png" width="600px"
    height="400px">
    <P style="font-size:20px">请扫描下方二维码关注我们的公众号</P>

    <img src="/images/wechat.jpg" width="400px"
        height="400px">
</head>
<style>
</style>
<boby>
 
</boby>

<script>


</script>