<head>
    <img src="/images/topic.png" width="1000px"
        height="400px">
    <h1 s>人格测试结果---树雕棕榈型</h1>
    <p style="font-size:18px">树雕棕榈型的人相对情绪化，经常游走在情绪的最高峰或最低谷。即追求完美又追求乐趣。既珍惜朋友又珍惜独处。很在意别人的评价，怕被否定被拒绝而无人欣赏。面对压力会大哭或者大笑。有时候自己都不知道自己是谁。 </p>
    <P style="font-size:20px">如想了解更详细的人格特质，知道你爱的语言是什么？你的恩赐在哪里？欢迎参加我们的常青家庭教育工作坊。您将明白：</P>
    <P style="font-size:20px">如何找到自己人生的指南针</P>
    <P style="font-size:20px">如何选择最优的职业方向</P>
    <P style="font-size:20px">如何了解自己和孩子的性情</P>
    <P style="font-size:20px">如何按着性情养育孩子</P>
    <P style="font-size:20px">如何设立健全的父母权柄</P>
    <P style="font-size:20px">如何保持爱与管教的平衡</P>
    <img src="/images/family.png" width="600px"
    height="400px">
    <P style="font-size:20px">请扫描下方二维码关注我们的公众号</P>

    <img src="/images/wechat.jpg" width="400px"
        height="400px">
</head>
<style>
</style>
<boby>
 
</boby>

<script>


</script>