<head>
    <img src="http://file02.16sucai.com/d/file/2014/0829/b871e1addf5f8e96f3b390ece2b2da0d.jpg" width="1000px"
        height="400px">
    <h1 s>请从下面四十项中选择最符合你的5项</h1>
    <h1 s>已选择4项</h1>
</head>
<style>
</style>
<boby>
    <div class="col-12">
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 shudiao "  onclick="shudiaoClicked(this)" >喜欢独自工作</button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 shudiao" onclick="shudiaoClicked(this)" >消极应对的
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 shudiao"  onclick="shudiaoClicked(this)">一丝不苟的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 meigui" onclick="meiguiClicked(this)">喜欢控制
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 meigui" onclick="meiguiClicked(this)">自信的
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 meigui" onclick="meiguiClicked(this)">求胜心强，喜欢竞争
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 songshu"  onclick="songshuClicked(this)">拒绝改变的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 songshu" onclick="songshuClicked(this)">冷幽默、幽默感强
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 songshu" onclick="songshuClicked(this)">善于宽容和理解
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 zonglv" onclick="zonglvClicked(this)">冲动的
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 zonglv" onclick="zonglvClicked(this)">健谈的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 songshu" onclick="songshuClicked(this)">喜欢罗列清单
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 zonglv " onclick="zonglvClicked(this)">有魅力的
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 songshu" onclick="songshuClicked(this)" >忠诚的
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 zonglv" onclick="zonglvClicked(this)">容易厌倦的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 shudiao" onclick="shudiaoClicked(this)">在意细节
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 meigui" onclick="meiguiClicked(this)">善于解决问题
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 songshu" onclick="songshuClicked(this)">调解者
            </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 shudiao"  onclick="shudiaoClicked(this)">善于分析的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 zonglv" onclick="zonglvClicked(this)">冒险的
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 zonglv" onclick="zonglvClicked(this)">热情的
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 shudiao"  onclick="shudiaoClicked(this)">追求卓越
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 meigui" onclick="meiguiClicked(this)">直言不讳、固执己见
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 zonglv" onclick="zonglvClicked(this)">充满激情的
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 meigui" onclick="meiguiClicked(this)">意志坚强的
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 songshu" onclick="songshuClicked(this)">不苛求的
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 zonglv" onclick="zonglvClicked(this)">散漫不守纪律的</button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 shudiao"  onclick="shudiaoClicked(this)">非黑即白的
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 meigui" onclick="meiguiClicked(this)">任务导向型
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 meigui" onclick="meiguiClicked(this)">富有开拓精神
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 meigui" onclick="meiguiClicked(this)">主动的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 songshu" onclick="songshuClicked(this)">性情平和的
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 zonglv" onclick="zonglvClicked(this)">乐观的
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 songshu" onclick="songshuClicked(this)">好的倾听者
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 shudiao"  onclick="shudiaoClicked(this)">有创造力的，艺术型的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 shudiao"  onclick="shudiaoClicked(this)">敏感的
        </button>
    </div>
    <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-3 meigui" onclick="meiguiClicked(this)">在压力下成长
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg col-3 songshu" onclick="songshuClicked(this)">被动的
        </button>
        <button type="button" class="btn btn-outline-success btn-lg col-3 songshu" onclick="songshuClicked(this)">稳定而一成不变的
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg col-3 zonglv" onclick="zonglvClicked(this)">好奇的
        </button>
    </div>
</div>
</boby>

<script>



</script>